 .chat-block {
     padding-right: 0px;
     padding-left: 0px;
     padding-bottom: 0px;
     border-style: solid;
     border-color: #eee;


 }
 .entity-output {
	 flex: 1;
	 padding: 20px;
	 display: flex;
	 background: white;
	 flex-direction: column;
	 overflow: auto;
	 height : 300px;
	 border: 2px solid #ccc;

}
 .chat-output {
	 flex: 1;
	 padding: 20px;
	 display: flex;
	 background: white;
	 flex-direction: column;
	 overflow: auto;
	 height : 350px;
	 background-image :url('Medical_Bot.png');
	 background-repeat: auto;
     background-size: 400px 400px;

}
 .chat-output > div {
	 margin: 0 0 20px 0;

}
 .chat-output .user-message .message {
	 background: #0fb0df;
	 color: white;
}
 .chat-output .bot-message {
	 text-align: right;
}
 .chat-output .bot-message .message {
	 background: #eee;
}
 .chat-output .message {
	 display: inline-block;
	 padding: 12px 20px;
	 border-radius: 10px;
}
 .chat-input {
	 padding: 20px;
	 background: #eee;
	 border: 1px solid #ccc;
	 border-bottom: 0;
}
 .chat-input .user-input {
	 width: 100%;
	 font-size: 2rem;
	 border: 1px solid #ccc;
	 border-radius: 4px;
	 padding: 8px;
}
